* {
    margin: 0;
    padding: 0;
}
.navbar {
    text-align: center;
}

.navbar img {
    width: 15%;
}

body {
    background-color: #08081A;
}

.background-1 {
    position: absolute;
    right: 0px;
    top: 0;
    width: 30%;
  }
  
.background-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
  }

.container{
    font-family: "Ubuntu", sans-serif;
    color: #FFF;
    margin: auto;
    width: 100%;
  }

.container h1 {
    font-size: 40px;
}

.container p{
    color: #A8A8B3;
}

.btn {
    background: #333F;
    color: #FFF;
    border-radius: 10px;
}

input {
    background-color:#7B59FF;
}

label {
    padding: 10px;
}